body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

#searchInput {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}

#reasonDisplay,
#usageDisplay {
    text-align: justify;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}
